#include <dt-bindings/zmk/modifiers.h>

/ {
    behaviors {
        gui_layer_mod: gui_layer_mod {
            compatible = "zmk,behavior-mod-macro";
            mods = <MOD_LGUI>;   /* no #binding-cells */
        };

        mouse_layer_key: mouse_layer_key {
            compatible = "zmk,behavior-momentary-layer";
            /* no binding here; layer number passed in keymap */
        };
    };
};